[alias]
	co = checkout
	cb = checkout -b
	br = branch
	ci = commit
	ca = commit --amend
	st = status
	pf = push --force
	cp = cherry-pick
	cm = checkout master
	pr = pull --rebase
	fop = fetch origin --prune
	cim = commit -m
	rebaster = "!f(){ \
		trap 'echo ERROR: Operation failed; return' ERR; \
		local branch=`git branch | grep '* ' | tr -d '* '`; \
		git checkout master;\
		git pull --rebase;\
		git checkout \"$branch\";\
		git rebase \"master\"; \
		};f"
		
	com = "!f(){ \
		trap 'echo ERROR: Operation failed; return' ERR; \
		local prefix=`git branch | grep '* ' | tr -d '* ' | sed 's/\\([a-zA-Z]*-[0-9]*\\).*/\\1/'`; \
		git commit -m \"$prefix $1\"; \
		};f"
	cmp = "!f(){ \
		trap 'echo ERROR: Operation failed; return' ERR; \
		git checkout master; \
		git pull --rebase; \
		git fetch origin --prune; \
		};f"
[user]
	name = Etienne Pinault
	email = estebanpianolo@gmail.com